*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1c1c1c;
}

/* Header content */

header{
    display: flex;
    justify-content: space-between;

    background-color: #800020;


    border: 2px solid #5d0118;
    color: #FF6700;
}

.title{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}

.title img{
    width: 50%;
}
/* Navigator */

a{
    text-decoration: none;
}

a:visited{
    color: #FF6700;
}

.profile-icon{
    width: 50px;
    height: 50px;
    object-fit: cover;

    border-radius: 50%;
}

.header-nav{
    display: flex;
    gap: 15px;
}

.header-nav p {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Fonts */

.prices{

    background-color: #0B0f14;
    border: solid 0.8px #3df2e0;
    margin: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*    Profile Layout   */

.profile-layout{

    display: flex;
    align-items: center;
}

.column{

    display:flex;
    flex-direction: column;
    align-items: center;

}

.profile-field-flex{

    display:flex;
    flex-direction: column;
    gap: 60px;

}

.profile-field{

    gap: 5px;
    align-items: center;

    background-color: #0B0f14;
    border: solid 0.8px #3df2e0;

}

