    <nav>

        <ul class="secondary-nav content-nav">

            <li>

                <details>

                    <summary>Categorías</summary>

                    <ul>

                        <li> <a href="">RPG</a> </li>
                        <li> <a href="">FPS</a> </li>
                        <li> <a href="">Deportes</a> </li>

                    </ul>
                    

                </details>

            </li>

            <li>
                <a href="">Free to play</a>
            </li>

            <li>
                <a href="">Nuevos lanzamientos</a>
            </li>

        </ul>

    </nav>