.content{

    width: 32%;
    margin: 15px auto;

    background-color: rgb(143, 0, 45);

    padding: 15px;

    border: 3px solid #2f2b2b;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #1c1c1c;

    text-align: center;
    color: #f7f7ff;
}

.main-content{
    display: flex;
    justify-content: space-between;
}

.grid-content{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.grid-content h2 {
    grid-column: 1 / -1;
}

/*    Profile contents  */

.profile-content{

    width: 25%;


}

.videoCard-content{

    width: 65%;
    padding: 15px;
    margin: 2%;
    background-color: rgb(65, 0, 21);
    border: 3px solid #2f2b2b;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #1c1c1c;

}

.featured-content{

    display: flex;
    justify-content: space-between;

}

.videoCard-content{

    width: 15%;

}

.rpg-prices{

    background-color:#2f2b2b ;
    width: 30%;
    margin: auto;

}

.category-content{

    width: 40%;
    background-image: url(../img/game/rpgbanner.jpg);
    background-size:cover ;
    background-position: center;

    color: gold;
    text-shadow: 0px 0px 10px black;

}

.prices-divider{

    margin: 8px;

}

