.card{

    width: 65%;
    border: solid 2px #f7f7ff;
    margin:auto;
    
}

.long-card {
    width: 65%;
    border: solid 2px #f7f7ff;
    margin: auto;
}

.featured-card{

    width: 100%;
    border: solid 2px #f7f7ff;
    margin:auto;

}

.double-card{

    grid-column: span 2;

}

/* Video Elements */

.video-card{

    width: 65%;
    border: solid 2px #f7f7ff;
    
}


/*    Profile elements    */

.profile{

    border-radius: 50%;
    margin: 50px;
    

}

.profile-content-icon{

    width: 55%;

}