*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-image: url("../img/background.avif");

    background-repeat:no-repeat;

    background-size:cover;

}

/* Header content */

header{

    display: flex;
    justify-content: space-around;
    align-items: center;


    background-image: url(../img/Logos/nav-banner.jpg);
    background-size:cover ;
    background-position: center;

    border: 2px solid #5d0118;
;

}

.title img{
    width: 30%;
}

/* Navigator */

.main-nav ul{
    
    display: flex;
    gap: 15px;
    

}

.main-nav li {

    margin: auto;
    background-color: rgba(0, 0, 0, 0.386);
    border: 1.5px solid black;
    padding: 2px;

}

.main-nav a{

    color: gold;
    

}

.main-nav a:hover{

    color: aqua;

}

ul{ 
    
    list-style: none;
    padding: 0;
    margin: 0;

}

a{
    text-decoration: none;
}



.profile-icon{
    width: 50px;
    height: 50px;
    object-fit: cover;

    border-radius: 50%;
}

/* Second Nav */

.secondary-nav{

    display: flex;
    justify-content: space-evenly;
    gap: 100px;

}

.content-nav{

    display: flex;
    justify-content: center;

    margin: 10px auto;
    width: 50%;

    background-image: url(../img/Logos/nav-banner2.jpg);
    background-position: center;
    background-size: cover;

    padding: 5px;

    border: 3px solid #410029;
    border-radius: 5px;

    text-align: center;

    color: gold;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
}


.content-nav a{

    color: gold;
    background-color: rgba(0, 0, 0, 0.408);

}

.content-nav a:hover{

    color:aqua;

}


/* Fonts */

.prices{

    background-color: #0B0f14;
    border: solid 0.8px #3df2e0;
    margin: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



/*    Profile Layout   */

.profile-layout{

    display: flex;
    align-items: center;
}

.column{

    display:flex;
    flex-direction: column;
    align-items: center;

}

.profile-field-flex{

    display:flex;
    flex-direction: column;
    gap: 60px;

}

.profile-field{

    gap: 10px;
    align-items: center;

    background-color: #0B0f14;
    border: solid 0.8px #3df2e0;

}

.divider {

    width: 100%;
    height: 1px;
    margin: 20px auto;
    background: gold;
    border: none;   
}

